@font-face {
  font-family:buttermilk;
  src: url(./assets/Buttermilk.otf);
}
h1{
  font-family: buttermilk;
  font-weight: normal;
  font-size: 3em;
  /* margin-bottom: 20px; */
}
.wordle{
  text-align: center;
}
.board{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line{
  display: flex;
}
.tile{
  font-size: 30px;
  text-transform: uppercase;
  margin: 3px;
  width: 50px;
  height: 50px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct { 
  background: #6aaa64; 
  color: white; 
}
.close { 
  background: #c9b458; 
  color: white; 
}
.incorrect { 
  background: #787c7e; 
  color: white; 
}